.controller_elements_cursor_pointer{
    cursor: pointer;
}






/* Inserted clint data position */
#inserted_company_name_image_position_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inserted_company_name_logo {
    background: white;
    padding-bottom: 15px;
    z-index: 1;
    width: 40vw;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border: 0.5px solid black;
}
















/* Inserted clint data position */
.clint_data_row_class {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border-bottom: 0.5px solid black;
}

.clint_data_row_class div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 0.5px solid black;
}

.clint_data_row_class div * {
    text-align: center;
}

.clint_data_row_class div:first-child {
    flex-grow: 0.9;
    border-right: 0.5px solid black;
}

.clint_data_row_class p {
    font-size: 2.5vw;
}

/* Reduce the width of "المدينة" cells */
.clint_data_row_class div:nth-child(2),
.clint_data_row_class div:nth-child(3),
.clint_data_row_class div:nth-child(4) {
    flex-grow: 0.4;
}





















/* Pdf section title */
.pdf_section_title_div_class {
    background: darkorange;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
    border: 0.5px solid black;
    position: relative;
    /* Add this to position the icon absolutely */
}

.pdf_section_title_div_class h6 {
    color: white;
    font-size: 2.5vw;
    font-weight: 600;
    flex: 1;
    /* Add this to make h6 take the remaining space */
    text-align: center;
    /* Center the text horizontally */
}

.pdf_section_title_div_class ion-icon {
    color: white;
    font-size: 4.5vw;
    position: absolute;
    /* Position the icon absolutely */
    right: 10px;
    /* Position the icon 10px from the right */
    top: 50%;
    /* Position the icon vertically in the center */
    transform: translateY(-50%);
    /* Adjust vertical alignment */
}




















/* Inserted hotel data position */
.hotel_row_class {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border-bottom: 0.5px solid black;
}

.hotel_row_class div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 0.5px solid black;
}

.hotel_row_class div * {
    text-align: center;
}

.hotel_row_class div:first-child {
    border-right: 0.5px solid black;
    flex-grow: 0.9;
}

.hotel_row_class div:last-child img {
    width: 90%;
    border: 0.5px solid black;
    border-radius: 7px;
    cursor: pointer;
}

.hotel_row_class p {
    font-size: 2.5vw;
    font-weight: 600;
}

.hotel_row_class span {
    font-size: 1.5vw;
    font-weight: 600;
}

/* Specific styling for the description cell to take more width */
.hotel_row_class .description_cell {
    flex-grow: 1.5;
}

/* Reduce the width of "عدد الليالي" and "المدينة" cells */
.hotel_row_class div:nth-child(3) {
    /* "عدد الليالي" cell */
    flex-grow: 0.4;
}

/* Reduce the width of "المدينة" cells */
.hotel_row_class div:nth-child(5) {
    flex-grow: 0.6;
    border-left: none;
}





















/* Inserted package data position */
#inserted_package_data_position_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inserted_package_data_div {
    background: white;
    width: 100%;
    padding: 5px 5px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0.5px solid black;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.inserted_package_data_div h6 {
    font-size: 1.8vw;
}

#package_total_price_h6_id {
    background: white;
    font-weight: 600;
    color: rgb(27, 0, 125);
    width: 100%;
    text-align: center;
    padding: 3px 5px;
    border-radius: 7px;
}



























/* Inserted flight data position */
.flight_row_class {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border-bottom: 0.5px solid black;
}

.flight_row_class div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 0.5px solid black;
}

.flight_row_class div * {
    text-align: center;
}

.flight_row_class div:first-child {
    flex-grow: 0.9;
    border-right: 0.5px solid black;
}

.flight_row_class p {
    font-size: 2.5vw;
    font-weight: 600;
}

/* Reduce the width of "من" and "الى" cells */
.flight_row_class div:nth-child(4),
.flight_row_class div:nth-child(5) {
    flex-grow: 0.6;
}

/* Reduce the width of "عدد الأشخاص" cell */
.flight_row_class div:nth-child(2),
.flight_row_class div:nth-child(7),
.flight_row_class div:nth-child(8) {
    flex-grow: 0.7;
}














/* Inserted transportation_plan data position */
.clint_movements_row_class {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border-bottom: 0.5px solid black;
}

.clint_movements_row_class div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 0.5px solid black;
}

.clint_movements_row_class div * {
    text-align: center;
}

.clint_movements_row_class div:first-child {
    flex-grow: 0.9;
    border-right: 0.5px solid black;
}

.clint_movements_row_class p {
    font-size: 2vw;
    font-weight: 600;
}

/* Reduce the width of "من" cell */
.clint_movements_row_class div:nth-child(1) {
    flex-grow: 0.2;
}

/* Reduce the width of "الى" cell */
.clint_movements_row_class div:nth-child(3) {
    flex-grow: 0.3;
}

#clint_movements_rules_div{
    background: white;
    padding: 10px 0 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 0.5px solid black;
    border-top: none;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

#clint_movements_rules_div p{
    font-size: 1.8vw;
    cursor: pointer;
}











































/* Delete box message */
.ensure_your_delete_action {
    z-index: 1000;
    background-color: white;
    width: fit-content;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    text-align: center;
    box-shadow: 0 0 5px black;
    transform: translate(-50%, -100vh);
    transition: transform 0.5s ease;
}

.ensure_your_delete_action button {
    font-size: 3vw;
    padding: 5px;
    cursor: pointer;
    border-radius: 7px;
}

.ensure_your_delete_action button:hover {
    box-shadow: 0 0.5px 3px black;
}


























/* Download pdf file */
#export_package_pdf_div_id {
    width: 100%;
}

#export_package_pdf_div_id button {
    width: 100%;
    font-size: 3vw;
    text-align: center;
    cursor: pointer;
    border: 0.5px solid black;
    border-radius: 0;
    box-shadow: 0 0 0 black;
    transition: all 0.2s ease-in-out;
}










/* Name pdf file box */
#name_pdf_file_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 5px black;
    border: 1px solid black;
    transform: translate(-50%, -100vh);
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 95%;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.5s ease;
}

#name_pdf_file_div span {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 4vw;
    color: #888;
}

#name_pdf_file_div input {
    width: 90%;
    font-size: 3vw;
    text-align: center;
    border: 1px solid black;
    border-radius: 7px;
}

#name_pdf_file_div button {
    font-size: 2.5vw;
    margin-top: 10px;
    padding: 1px 10px;
    cursor: pointer;
    border-radius: 7px;
    border: 1px solid black;
    transition: all 0.1s ease-in-out;
}

































/* Media Queries */
/* 1250px */
@media(max-width:1250px) {}

/* 1040px */
@media(max-width:1040px) {}

/* 950px */
@media(max-width:950px) {
    .inserted_company_name_logo {
        width: 45vw;
    }













    .pdf_section_title_div_class {
        padding: 6px;
    }

    .pdf_section_title_div_class h6 {
        font-size: 2.7vw;
    }

    .pdf_section_title_div_class ion-icon {
        font-size: 5.5vw;
    }

















    .inserted_package_data_div h6 {
        font-size: 2vw;
    }




















    .ensure_your_delete_action button {
        font-size: 4vw;
        padding: 4px;
    }

    #export_package_pdf_div_id button {
        font-size: 4vw;
    }

    #name_pdf_file_div span {
        font-size: 6vw;
    }

    #name_pdf_file_div input {
        font-size: 4vw;
    }

    #name_pdf_file_div button {
        font-size: 3.5vw;
    }
}

/* 850px */
@media(max-width:850px) {}

/* 760px */
@media(max-width:760px) {}

/* 650px */
@media(max-width:650px) {
    .ensure_your_delete_action {
        padding: 10px;
    }

    .ensure_your_delete_action button {
        font-size: 5vw;
        padding: 3px;
    }

    #export_package_pdf_div_id button {
        font-size: 5vw;
    }
}


/* 580px */
@media(max-width:580px) {
    .inserted_company_name_logo {
        width: 50vw;
    }








    .clint_data_row_class p {
        font-size: 3.5vw;
    }







    .pdf_section_title_div_class {
        padding: 4px;
    }

    .pdf_section_title_div_class h6 {
        font-size: 3.5vw;
    }

    .pdf_section_title_div_class ion-icon {
        font-size: 6.5vw;
    }











    .hotel_row_class div:last-child img {
        width: 95%;
    }

    .hotel_row_class p {
        font-size: 3vw;
    }

    .hotel_row_class span {
        font-size: 2vw;
    }












    .flight_row_class p {
        font-size: 3vw;
    }












    .clint_movements_row_class p {
        font-size: 2.5vw;
    }

    #clint_movements_rules_div{
        padding: 5px 0;
    }
    
    #clint_movements_rules_div p{
        font-size: 2.3vw;
    }














    .inserted_package_data_div h6 {
        font-size: 2.3vw;
    }
















    #name_pdf_file_div span {
        font-size: 7vw;
    }

    #name_pdf_file_div input {
        font-size: 5vw;
    }

    #name_pdf_file_div button {
        font-size: 4.5vw;
        padding: 1px 5px;
    }
}

/* 500px */
@media(max-width:500px) {}

/* 400px */
@media(max-width:400px) {
    .inserted_company_name_logo {
        width: 55vw;
    }














    .hotel_row_class span {
        font-size: 2.2vw;
    }













    #clint_movements_rules_div{
        padding: 2px 0;
    }
    
    #clint_movements_rules_div p{
        font-size: 2.5vw;
    }











    .inserted_package_data_div h6 {
        font-size: 2.7vw;
    }







    .ensure_your_delete_action {
        padding: 5px;
    }

    .ensure_your_delete_action button {
        font-size: 6vw;
        padding: 2px;
    }

    #export_package_pdf_div_id button {
        font-size: 6vw;
    }

    #name_pdf_file_div span {
        font-size: 8vw;
    }

    #name_pdf_file_div input {
        font-size: 6vw;
    }

    #name_pdf_file_div button {
        font-size: 5.5vw;
        padding: 1px 3px;
    }
}

/* 320px */
@media(max-width:320px) {}
